<!DOCTYPE html>
<html ng-app="mainApp">

<head>
    <link href="https://code.jquery.com/jquery-2.2.1.min.js" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <title>Unit1-Day1 Image Gallery</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
</head>

<body ng-controller="galleryController"  ng-init="previewImage='images/image1.jpg'">
    <div class="nav-header">


        <h1>Unit1-Day1 ( Cosmos )</h1>
        <img id="logo" src="http://www.digitalcrafts.com/sites/all/themes/digitalcrafts/images/digitalcrafts-site-logo.png">



    </div>
    <!--<div class="thumbnails">
			<img src="images/image1.jpg" name="img1" onclick="preview.src=img1.src">
			<img src="images/image2.jpg" name="img2" onclick="preview.src=img2.src">
			<img src="images/image3.jpg" name="img3" onclick="preview.src=img3.src">
			<img src="images/image4.jpg" name="img4" onclick="preview.src=img4.src">
			<img src="images/image5.jpg" name="img5" onclick="preview.src=img5.src">
		</div>-->
    <div class="thumbnails">
        <li style="list-style: none" ng-repeat="image in images">
            <img ng-src={{image}} ng-click='updateBackground(image)'>
        </li>
    </div>
    <div class="preview">
        <img name="preview" ng-src={{previewImage}}>
    </div>

    <script src="controller.js"></script>
</body>

</html>