h1 {
	color: white;
	font-family: "Century Gothic", Verdana, Arial;
}

p {
	color: darkgreen;
	font-family: Arial;
}

body {
	background-color: #363636;
	text-align: center;
	margin-top: 0 10px 0 10px;
}

.thumbnails img {
	height:80px;
	border: 4px solid #555;
}

.thumbnails img:hover {
	height:80px;
	border: 4px solid #d8cb76;
	cursor: pointer;
}

#logo {
	width: 180px;
}

.preview {
	padding: 10px;
}

/*
* homework, add thumbnails vertically on left and then play around with onmouseover , on click options and other slick features.
*/